v3.0/invoiceAnnulment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
# Project: Magyar Online Számla Rendszer invoiceAnnulment XML séma
# Author: NAV Informatikai Intézet

# Version: v3.0 2020/07/31
-->
<xs:schema xmlns="http://schemas.nav.gov.hu/OSA/3.0/annul" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://schemas.nav.gov.hu/NTCA/1.0/common" xmlns:base="http://schemas.nav.gov.hu/OSA/3.0/base" targetNamespace="http://schemas.nav.gov.hu/OSA/3.0/annul" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!--Atomi típusok / Atomic types-->
    <xs:simpleType name="AtomicStringType100">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 100 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 100 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType1024">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 1024 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 1024 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType128">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 128 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 128 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType15">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 15 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 15 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType16">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 16 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 16 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType2">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 2 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 2 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType200">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 200 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 200 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType2048">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 2048 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 2048 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType255">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 255 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 255 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType256">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 256 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 256 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType32">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 32 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 32 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType4">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 4 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 4 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType4000">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 4000 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 4000 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType50">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 50 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 50 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType512">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 512 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 512 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType64">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 64 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 64 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AtomicStringType8">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Atomi string típus 8 hosszra</xs:documentation>
            <xs:documentation xml:lang="en">Atomic string type for 8 length</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenericDateType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Általános UTC dátum</xs:documentation>
            <xs:documentation xml:lang="en">Generic UTC date</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="\d{4}-\d{2}-\d{2}Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenericDecimalType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Általános lebegőpontos érték</xs:documentation>
            <xs:documentation xml:lang="en">Generic float point value</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal"/>
    </xs:simpleType>
    <xs:simpleType name="GenericTimestampType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Általános UTC időbélyeg</xs:documentation>
            <xs:documentation xml:lang="en">Generic UTC timestamp</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{1,3})?Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SHA256Type">
        <xs:annotation>
            <xs:documentation xml:lang="hu">SHA256 kód megadására szolgáló típus</xs:documentation>
            <xs:documentation xml:lang="en">Field type for holding an SHA256 code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType64">
            <xs:pattern value="[0-9A-F]{64}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SHA512Type">
        <xs:annotation>
            <xs:documentation xml:lang="hu">SHA512 kód megadására szolgáló típus</xs:documentation>
            <xs:documentation xml:lang="en">Field type for holding an SHA512 code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType128">
            <xs:pattern value="[0-9A-F]{128}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleText100NotBlankType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Legfeljebb 100 karaktert tartalmazó szöveg típus</xs:documentation>
            <xs:documentation xml:lang="en">String of maximum 100 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType100">
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleText1024NotBlankType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Legfeljebb 1024 karaktert tartalmazó szöveg típus</xs:documentation>
            <xs:documentation xml:lang="en">String of maximum 1024 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType1024">
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleText15NotBlankType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Legfeljebb 15 karaktert tartalmazó szöveg típus</xs:documentation>
            <xs:documentation xml:lang="en">String of maximum 15 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType15">
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleText200NotBlankType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Legfeljebb 200 karaktert tartalmazó szöveg típus</xs:documentation>
            <xs:documentation xml:lang="en">String of maximum 200 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType200">
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleText255NotBlankType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Legfeljebb 255 karaktert tartalmazó szöveg típus</xs:documentation>
            <xs:documentation xml:lang="en">String of maximum 255 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType255">
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleText50NotBlankType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Legfeljebb 50 karaktert tartalmazó szöveg típus</xs:documentation>
            <xs:documentation xml:lang="en">String of maximum 50 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType50">
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SimpleText512NotBlankType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Legfeljebb 512 karaktert tartalmazó szöveg típus</xs:documentation>
            <xs:documentation xml:lang="en">String of maximum 512 characters</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType512">
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>
    <!--Üzleti katalógus elemek / Business catalog elements-->
    <xs:simpleType name="BankAccountNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Bankszámla megadására szolgáló típus</xs:documentation>
            <xs:documentation xml:lang="en">Type of bank account number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType50">
            <xs:minLength value="15"/>
            <xs:maxLength value="34"/>
            <xs:pattern value="[0-9]{8}[-][0-9]{8}[-][0-9]{8}|[0-9]{8}[-][0-9]{8}|[A-Z]{2}[0-9]{2}[0-9A-Za-z]{11,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CommunityVatNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Közösségi adószám típus</xs:documentation>
            <xs:documentation xml:lang="en">Community VAT registration number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType15">
            <xs:minLength value="4"/>
            <xs:maxLength value="15"/>
            <xs:pattern value="[A-Z]{2}[0-9A-Z]{2,13}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Országkód típus ISO 3166 alpha-2 szabvány szerint</xs:documentation>
            <xs:documentation xml:lang="en">Country code type (ISO 3166 alpha-2)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType2">
            <xs:length value="2"/>
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountyCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Megyekód</xs:documentation>
            <xs:documentation xml:lang="en">County code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType2">
            <xs:length value="2"/>
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Pénznem típus (ISO 4217 szabvány szerinti 3 hosszú pénznem kód)</xs:documentation>
            <xs:documentation xml:lang="en">Currency type (three digit ISO 4217 currency code)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType4">
            <xs:length value="3"/>
            <xs:pattern value="[A-Z]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlateNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Kereskedelmi gépjármű forgalmi rendszáma (csak betűk és számok)</xs:documentation>
            <xs:documentation xml:lang="en">Registration number of commercial motor vehicle (letters and numbers only)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType32">
            <xs:minLength value="2"/>
            <xs:maxLength value="30"/>
            <xs:pattern value="[A-Z0-9ÖŐÜŰ]{2,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PostalCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Irányítószám típus</xs:documentation>
            <xs:documentation xml:lang="en">ZIP code type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType15">
            <xs:minLength value="3"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="[A-Z0-9][A-Z0-9\s\-]{1,8}[A-Z0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TaxpayerIdType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Az adószám nyolc jegyű törzsszám része</xs:documentation>
            <xs:documentation xml:lang="en">The 8-digit core number section of the tax number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType8">
            <xs:length value="8"/>
            <xs:pattern value="[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VatCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">ÁFA kód</xs:documentation>
            <xs:documentation xml:lang="en">VAT code</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType2">
            <xs:length value="1"/>
            <xs:pattern value="[1-5]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <!--Közös API típusok / Common API types-->
    <xs:simpleType name="BusinessResultCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Üzleti eredmény kód típus</xs:documentation>
            <xs:documentation xml:lang="en">Business result code type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType8">
            <xs:enumeration value="ERROR">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hiba</xs:documentation>
                    <xs:documentation xml:lang="en">Error</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WARN">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Figyelmeztetés</xs:documentation>
                    <xs:documentation xml:lang="en">Warn</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Tájékoztatás</xs:documentation>
                    <xs:documentation xml:lang="en">Information</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EntityIdType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Generált azonosító típus</xs:documentation>
            <xs:documentation xml:lang="en">Generated ID type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType32">
            <xs:maxLength value="30"/>
            <xs:minLength value="1"/>
            <xs:pattern value="[+a-zA-Z0-9_]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FunctionCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Funkciókód típus</xs:documentation>
            <xs:documentation xml:lang="en">Function code type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType8">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Sikeres művelet</xs:documentation>
                    <xs:documentation xml:lang="en">Successful operation</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERROR">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hiba</xs:documentation>
                    <xs:documentation xml:lang="en">Error</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LoginType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Felhasználónév típus</xs:documentation>
            <xs:documentation xml:lang="en">Login type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType15">
            <xs:minLength value="6"/>
            <xs:maxLength value="15"/>
            <xs:pattern value="[a-zA-Z0-9]{6,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestPageType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Lapozó paraméter típus kérések számára</xs:documentation>
            <xs:documentation xml:lang="en">Page parameter type for requests</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResponsePageType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Lapozó paraméter típus válaszok számára</xs:documentation>
            <xs:documentation xml:lang="en">Page parameter type for responses</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TechnicalResultCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Technikai eredmény kód típus</xs:documentation>
            <xs:documentation xml:lang="en">Technical result code type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType8">
            <xs:enumeration value="CRITICAL">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Kritikus hiba</xs:documentation>
                    <xs:documentation xml:lang="en">Critical error</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERROR">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hiba</xs:documentation>
                    <xs:documentation xml:lang="en">Error</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BasicHeaderType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">A kérés tranzakcionális adatai</xs:documentation>
            <xs:documentation xml:lang="en">Transactional data of the request</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="requestId" type="EntityIdType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A kérés/válasz azonosítója, minden üzenetváltásnál - adószámonként - egyedi</xs:documentation>
                    <xs:documentation xml:lang="en">Identifier of the request/response, unique with the taxnumber in every data exchange transaction</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="timestamp" type="GenericTimestampType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A kérés/válasz keletkezésének UTC ideje</xs:documentation>
                    <xs:documentation xml:lang="en">UTC time of the request/response</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="requestVersion" type="AtomicStringType15">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A kérés/válasz verziószáma, hogy a hívó melyik interfész verzió szerint küld adatot és várja a választ</xs:documentation>
                    <xs:documentation xml:lang="en">Request version number, indicating which datastructure the client sends data in, and in which the response is expected</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="headerVersion" type="AtomicStringType15" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A header verziószáma</xs:documentation>
                    <xs:documentation xml:lang="en">Header version number</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BasicRequestType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Alap kérés adatok</xs:documentation>
            <xs:documentation xml:lang="en">Basic request data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="header" type="BasicHeaderType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A kérés tranzakcionális adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Transactional data of the request</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="user" type="UserHeaderType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A kérés authentikációs adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Authentication data of the request</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BasicResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Alap válasz adatok</xs:documentation>
            <xs:documentation xml:lang="en">Basic response data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="header" type="BasicHeaderType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A válasz tranzakcionális adatai</xs:documentation>
                    <xs:documentation xml:lang="en">Transactional data of the response</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="result" type="BasicResultType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Alap válaszeredmény adatok</xs:documentation>
                    <xs:documentation xml:lang="en">Basic result data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BasicResultType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Alap válaszeredmény adatok</xs:documentation>
            <xs:documentation xml:lang="en">Basic result data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="funcCode" type="FunctionCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Feldolgozási eredmény</xs:documentation>
                    <xs:documentation xml:lang="en">Processing result</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="errorCode" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A feldolgozási hibakód</xs:documentation>
                    <xs:documentation xml:lang="en">Processing error code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="message" type="SimpleText1024NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Feldolgozási üzenet</xs:documentation>
                    <xs:documentation xml:lang="en">Processing message</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="notifications" type="NotificationsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Egyéb értesítések</xs:documentation>
                    <xs:documentation xml:lang="en">Miscellaneous notifications</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CryptoType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Kriptográfiai metódust leíró típus</xs:documentation>
            <xs:documentation xml:lang="en">Denoting type of cryptographic method</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="SimpleText512NotBlankType">
                <xs:attribute name="cryptoType" type="SimpleText50NotBlankType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="GeneralErrorHeaderResponseType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Általános hibatípus minden REST operációra</xs:documentation>
            <xs:documentation xml:lang="en">Generic fault type for every REST operation</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="BasicResponseType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NotificationsType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Egyéb értesítések</xs:documentation>
            <xs:documentation xml:lang="en">Miscellaneous notifications</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="notification" type="NotificationType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Értesítés</xs:documentation>
                    <xs:documentation xml:lang="en">Notification</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotificationType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Értesítés</xs:documentation>
            <xs:documentation xml:lang="en">Notification</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="notificationCode" type="SimpleText100NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Értesítés kód</xs:documentation>
                    <xs:documentation xml:lang="en">Notification code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="notificationText" type="SimpleText1024NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Értesítés szöveg</xs:documentation>
                    <xs:documentation xml:lang="en">Notification text</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TechnicalValidationResultType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Technikai validációs választípus</xs:documentation>
            <xs:documentation xml:lang="en">Technical validation response type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="validationResultCode" type="TechnicalResultCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Validációs eredmény</xs:documentation>
                    <xs:documentation xml:lang="en">Validation result</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="validationErrorCode" type="SimpleText100NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Validációs hibakód</xs:documentation>
                    <xs:documentation xml:lang="en">Validation error code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="message" type="SimpleText1024NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Feldolgozási üzenet</xs:documentation>
                    <xs:documentation xml:lang="en">Processing message</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UserHeaderType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">A kérés authentikációs adatai</xs:documentation>
            <xs:documentation xml:lang="en">Authentication data of the request</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="login" type="LoginType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A technikai felhasználó login neve</xs:documentation>
                    <xs:documentation xml:lang="en">Login name of the technical user</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="passwordHash" type="CryptoType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A technikai felhasználó jelszavának hash értéke</xs:documentation>
                    <xs:documentation xml:lang="en">Hash value of the technical user's password</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="taxNumber" type="TaxpayerIdType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A rendszerben regisztrált adózó adószáma, aki nevében a technikai felhasználó tevékenykedik</xs:documentation>
                    <xs:documentation xml:lang="en">The taxpayer's tax number, whose name the technical user operates in</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="requestSignature" type="CryptoType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A kérés aláírásának hash értéke</xs:documentation>
                    <xs:documentation xml:lang="en">Hash value of the request's signature</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!--Általános API hiba válaszok / Generic API error responses-->
    <xs:element name="GeneralErrorHeaderResponse">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Az összes REST operációra vonatkozó hibaválasz generikus elementje</xs:documentation>
            <xs:documentation xml:lang="en">General error response of every REST operation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="GeneralErrorHeaderResponseType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="GeneralExceptionResponse">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Az összes REST operációra vonatkozó kivétel válasz generikus elementje</xs:documentation>
            <xs:documentation xml:lang="en">General exception response of every REST operation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="BasicResultType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="InvoiceAppearanceType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Számla megjelenési formája típus</xs:documentation>
            <xs:documentation xml:lang="en">Form of appearance of the invoice type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType15">
            <xs:enumeration value="PAPER">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Papír alapú számla</xs:documentation>
                    <xs:documentation xml:lang="en">Invoice issued on paper</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELECTRONIC">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Elektronikus formában előállított, nem EDI számla</xs:documentation>
                    <xs:documentation xml:lang="en">Electronic invoice (non-EDI)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EDI">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">EDI számla</xs:documentation>
                    <xs:documentation xml:lang="en">EDI invoice</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNKNOWN">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A szoftver nem képes azonosítani vagy a kiállításkor nem ismert</xs:documentation>
                    <xs:documentation xml:lang="en">The software cannot be identify the form of appearance of the invoice or it is unknown at the time of issue</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvoiceCategoryType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">A számla típusa</xs:documentation>
            <xs:documentation xml:lang="en">Type of invoice</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType15">
            <xs:enumeration value="NORMAL">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Normál (nem egyszerűsített és nem gyűjtő) számla</xs:documentation>
                    <xs:documentation xml:lang="en">Normal (not simplified and not aggregate) invoice</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIMPLIFIED">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Egyszerűsített számla</xs:documentation>
                    <xs:documentation xml:lang="en">Simplified invoice</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGGREGATE">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Gyűjtőszámla</xs:documentation>
                    <xs:documentation xml:lang="en">Aggregate invoice</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvoiceDateType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Dátum típus az Online Számla rendszerben</xs:documentation>
            <xs:documentation xml:lang="en">Date type in the Online Invoice system</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:minInclusive value="2010-01-01"/>
            <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvoiceIndexType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Sorszám típus az Online Számla rendszerben</xs:documentation>
            <xs:documentation xml:lang="en">Index type in the Online Invoice system</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvoiceTimestampType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Időbélyeg típus az Online Számla rendszerben</xs:documentation>
            <xs:documentation xml:lang="en">Timestamp type in the Online Invoice system</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:minInclusive value="2010-01-01T00:00:00Z"/>
            <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(.\d{1,3})?Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InvoiceUnboundedIndexType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Sorszám típus kötegelt számlaművelethez az Online Számla rendszerben</xs:documentation>
            <xs:documentation xml:lang="en">Index type for batch invoice operation in the Online Invoice system</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LineNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Tételszám típus</xs:documentation>
            <xs:documentation xml:lang="en">Line number type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:minInclusive value="1"/>
            <xs:totalDigits value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MonetaryType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Pénzérték típus. Maximum 18 számjegy, ami 2 tizedesjegyet tartalmazhat</xs:documentation>
            <xs:documentation xml:lang="en">Field type for money value input. Maximum 18 digits that may include 2 decimal places</xs:documentation>
        </xs:annotation>
        <xs:restriction base="GenericDecimalType">
            <xs:totalDigits value="18"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PaymentMethodType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Fizetés módja</xs:documentation>
            <xs:documentation xml:lang="en">Method of payment</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType15">
            <xs:enumeration value="TRANSFER">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Banki átutalás</xs:documentation>
                    <xs:documentation xml:lang="en">Bank transfer</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Készpénz</xs:documentation>
                    <xs:documentation xml:lang="en">Cash</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CARD">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Bankkártya, hitelkártya, egyéb készpénz helyettesítő eszköz</xs:documentation>
                    <xs:documentation xml:lang="en">Debit card, credit card, other cash-substitute payment instrument</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VOUCHER">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Utalvány, váltó, egyéb pénzhelyettesítő eszköz</xs:documentation>
                    <xs:documentation xml:lang="en">Voucher, bill of exchange, other non-cash payment instrument</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHER">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Egyéb</xs:documentation>
                    <xs:documentation xml:lang="en">Other</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Cím típus, amely vagy egyszerű, vagy részletes címet tartalmaz</xs:documentation>
            <xs:documentation xml:lang="en">Format of address that includes either a simple or a detailed address</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="simpleAddress" type="SimpleAddressType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Egyszerű cím</xs:documentation>
                    <xs:documentation xml:lang="en">Simple address</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="detailedAddress" type="DetailedAddressType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Részletes cím</xs:documentation>
                    <xs:documentation xml:lang="en">Detailed address</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DetailedAddressType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Részletes címadatok</xs:documentation>
            <xs:documentation xml:lang="en">Detailed address data</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="countryCode" type="CountryCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az országkód ISO 3166 alpha-2 szabvány szerint</xs:documentation>
                    <xs:documentation xml:lang="en">ISO 3166 alpha-2 country code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="region" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Tartomány kódja (amennyiben értelmezhető az adott országban) az ISO 3166-2 alpha 2 szabvány szerint</xs:documentation>
                    <xs:documentation xml:lang="en">ISO 3166 alpha-2 province code (if appropriate in a given country)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="PostalCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Irányítószám (amennyiben nem értelmezhető, 0000 értékkel kell kitölteni)</xs:documentation>
                    <xs:documentation xml:lang="en">ZIP code (If can not be interpreted, need to be filled "0000")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="city" type="SimpleText255NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Település</xs:documentation>
                    <xs:documentation xml:lang="en">Settlement</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="streetName" type="SimpleText255NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közterület neve</xs:documentation>
                    <xs:documentation xml:lang="en">Name of public place</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="publicPlaceCategory" type="SimpleText50NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Közterület jellege</xs:documentation>
                    <xs:documentation xml:lang="en">Category of public place</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Házszám</xs:documentation>
                    <xs:documentation xml:lang="en">House number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="building" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Épület</xs:documentation>
                    <xs:documentation xml:lang="en">Building</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="staircase" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Lépcsőház</xs:documentation>
                    <xs:documentation xml:lang="en">Staircase</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="floor" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Emelet</xs:documentation>
                    <xs:documentation xml:lang="en">Floor</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="door" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Ajtó</xs:documentation>
                    <xs:documentation xml:lang="en">Door number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lotNumber" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Helyrajzi szám</xs:documentation>
                    <xs:documentation xml:lang="en">Lot number</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleAddressType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Egyszerű címtípus</xs:documentation>
            <xs:documentation xml:lang="en">Simple address type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="countryCode" type="CountryCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az országkód az ISO 3166 alpha-2 szabvány szerint</xs:documentation>
                    <xs:documentation xml:lang="en">ISO 3166 alpha-2 country code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="region" type="SimpleText50NotBlankType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Tartomány kódja (amennyiben értelmezhető az adott országban) az ISO 3166-2 alpha 2 szabvány szerint</xs:documentation>
                    <xs:documentation xml:lang="en">ISO 3166 alpha-2 province code (if appropriate in a given country)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="PostalCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Irányítószám (amennyiben nem értelmezhető, 0000 értékkel kell kitölteni)</xs:documentation>
                    <xs:documentation xml:lang="en">ZIP code (If can not be interpreted, need to be filled "0000")</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="city" type="SimpleText255NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Település</xs:documentation>
                    <xs:documentation xml:lang="en">Settlement</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="additionalAddressDetail" type="SimpleText255NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">További címadatok (pl. közterület neve és jellege, házszám, emelet, ajtó, helyrajzi szám, stb.)</xs:documentation>
                    <xs:documentation xml:lang="en">Further address data (name and type of public place, house number, floor, door, lot number, etc.)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxNumberType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Adószám típus</xs:documentation>
            <xs:documentation xml:lang="en">Tax number type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="taxpayerId" type="TaxpayerIdType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Az adóalany adó törzsszáma. Csoportos adóalany esetén csoportazonosító szám</xs:documentation>
                    <xs:documentation xml:lang="en">Core tax number of the taxable person. In case of group taxation arrangement the group identification number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vatCode" type="VatCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">ÁFA kód az adóalanyiság típusának jelzésére. Egy számjegy</xs:documentation>
                    <xs:documentation xml:lang="en">VAT code to indicate taxation type of the taxpayer. One digit</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="countyCode" type="CountyCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Megyekód, két számjegy</xs:documentation>
                    <xs:documentation xml:lang="en">County code, two digits</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnnulmentCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Technikai érvénytelenítés kód típusa</xs:documentation>
            <xs:documentation xml:lang="en">Technical annulment code type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="AtomicStringType32">
            <xs:enumeration value="ERRATIC_DATA">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hibás adattartalom miatti technikai érvénytelenítés</xs:documentation>
                    <xs:documentation xml:lang="en">Technical annulment due to erratic data content</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERRATIC_INVOICE_NUMBER">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hibás számlaszám miatti technikai érvénytelenítés</xs:documentation>
                    <xs:documentation xml:lang="en">Technical annulment due to erratic invoice number</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERRATIC_INVOICE_ISSUE_DATE">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hibás számla kiállítási dátum miatti technikai érvénytelenítés</xs:documentation>
                    <xs:documentation xml:lang="en">Technical annulment due to erratic invoice issue date</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERRATIC_ELECTRONIC_HASH_VALUE">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">Hibás elektronikus számla hash érték miatti technikai érvénytelenítés</xs:documentation>
                    <xs:documentation xml:lang="en">Technical annulment due to erratic electronic invoice hash value</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvoiceAnnulmentType">
        <xs:annotation>
            <xs:documentation xml:lang="hu">Korábbi adatszolgáltatás technikai érvénytelenítésének adatai</xs:documentation>
            <xs:documentation xml:lang="en">Data of technical annulment concerning previous data exchange</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="annulmentReference" type="SimpleText50NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A technikai érvénytelenítéssel érintett számla vagy módosító okirat sorszáma</xs:documentation>
                    <xs:documentation xml:lang="en">Sequential number of the invoice or modification document to be annuled</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="annulmentTimestamp" type="InvoiceTimestampType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A technikai érvénytelenítés időbélyege a forrásrendszerben UTC idő szerint</xs:documentation>
                    <xs:documentation xml:lang="en">Timestamp of the technical annulment in UTC time</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="annulmentCode" type="AnnulmentCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A technikai érvénytelenítés kódja</xs:documentation>
                    <xs:documentation xml:lang="en">Technical annulment code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="annulmentReason" type="SimpleText1024NotBlankType">
                <xs:annotation>
                    <xs:documentation xml:lang="hu">A technikai érvénytelenítés oka</xs:documentation>
                    <xs:documentation xml:lang="en">Technical annulment reason</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="InvoiceAnnulment">
        <xs:annotation>
            <xs:documentation xml:lang="hu">XML root element, a technikai érvénytelenítés adatait leíró típus, amelyet BASE64 kódoltan tartalmaz az invoiceApi sémaleíró invoiceAnnulment elementje</xs:documentation>
            <xs:documentation xml:lang="en">XML root element, technical annulment data type in BASE64 encoding, equivalent with the invoiceApi schema definition's invoiceAnnulment element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InvoiceAnnulmentType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
